<% if !flash[:notice].blank? %>
	<div class = "alert alert-info">
		<%= flash[:notice] %>
	</div>
	<br/>
<% end %>

<%= link_to "New Resume", new_admin_image_path %>
<br/>
<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Download Link</th>
		</tr>
	</thead>

	<tbody>
		<% @images.each do |image| %>
			<tr>
				<td><%= image.name %></td>
				<td><%= link_to(image_tag(image.attachment.thumb.url), image.attachment_url )%></td>
				<td><%= button_to "Delete", admin_image_path(image) , :method => :delete, confirm: "Are you sure" %></td>
			</tr>
		<% end %>
	</tbody>
</table>
