<!DOCTYPE html>
<html>
<head>
	<title>WebTool</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= stylesheet_link_tag    'admin/base',  media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body>
	<div class="wrapper">
		<div class="header z-depth-1">
			<nav>
				<div class="nav-wrapper center light-blue darken-3">
					<h1>Admin Panel</h1>
					<ul id="nav-mobile" class="header-links right">
						<li><%= link_to "Log Out", admin_logout_path, method: "delete", class: "white-text" %></li>
					</ul>
				</div>
			</nav>
		</div >
		<div class="sidebar left">
			<ul>
				<li><%= link_to "Dashboard", admin_root_path %></li>
				<li><%= link_to "Articles", admin_articles_path %></li>
				<li><%= link_to "Pages" , admin_pages_path %></li>
				<li>Uploads</li>
				<li>Account Settings</li>
			</ul>
		</div>
		<main>
		<div class="content right row">
			<%= yield %>
		</div>
		<main>
		<footer class="page-footer">
		<% if Rails.env.development? %>
			<div class="debug-box">
				<%= debug(params) %>
			</div>
		<% end %>
		<footer>
	</div>
</body>
</html>
