<!DOCTYPE html>
<html>
<head>
	<title>WebTool</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= stylesheet_link_tag    'admin/base',  media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body>
	<div class="wrapper">
		<div class="header z-depth-1">
			<nav>
				<div class="nav-wrapper center">
					<h1>Admin Panel</h1>
					<ul id="nav-mobile" class="header-links right">
						<li><%= link_to "Log Out", admin_logout_path, method: "delete" %></li>
						<li>Second Item<li>
				</ul>
				</div>
			</nav>
		</div >
		<div class="sidebar">
			<ul>
				<li>Dashboard</li>
				<li>Articles</li>
				<li>Pages</li>
				<li>Uploads</li>
				<li>Account Settings</li>
			</ul>
		</div>
		<%= yield %>
			<% if Rails.env.development? %>
			<div class="debug-box">
				<%= debug(params) %>
		
			</div>
		<% end %>
	</div>
</body>
</html>
